/* General Styles */

body {
  height: 100vh;
  width: 100%;
  background: black;
  color: white;
  font-family: Roboto;
}

.site-section {
  height: 100%;
  width: 100%;
}

.site-section .section-container {
  display: flex;
  height: 100%;
  max-width: 928px;
  margin: auto;
}

.site-section .section-container .section-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.site-section .section-container .section-info h1 {
  margin: 0;
}

.site-section .section-container .section-info p.description {
  color: #555555;
  max-width: 528px;
  width: fit-content;
  border-top: 2px solid #555555;
  padding-top: 7px;
  margin-top: 100px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.site-section .section-container .section-info p.description span {
  color: #999999;
}

/* End General Styles */

/* Navbar Styles */

.navbar {
  padding: 50px;
  padding-bottom: 0;
}

.navbar-brand {
  font-weight: 900;
  font-size: 24px;
}

.navbar-brand.mobile {
  display: none;
}

.navbar-brand.mobile img {
  height: 35px;
}

.navbar-dark .navbar-toggler {
  border: none;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

@media (max-width: 535px) {
  .navbar-brand.mobile {
    display: block;
  }

  .navbar-brand.desktop {
    display: none;
  }
}

/* End Navbar Styles */

/* Landing Page Styles */

#landing {
  position: relative;
}

#landing .section-info {
  align-items: center;
}

#landing .section-info h1 {
  font-weight: 900;
  font-size: 72px;
  margin-bottom: 25px;
}

#landing .section-info ul {
  display: flex;
  list-style: none;
  padding: 0;
}

#landing .section-info ul li {
  font-weight: 900;
  font-size: 24px;
  color: #555555;
  margin: 0 12.5px;
  cursor: pointer;
  transition: color 0.2s linear;
}

#landing .section-info ul li:hover {
  color: #999999;
}

#landing > img {
  position: absolute;
  bottom: 32px;
  left: calc(50% - 25px);
  transition: all 0.2s linear;
  animation: arrowAnimation 1s ease-in-out 0s infinite alternate;
}

@keyframes arrowAnimation {
  from {
    bottom: 32px;
  }

  to {
    bottom: 38px;
  }
}

@media (max-width: 535px) {
  #landing .section-info h1 {
    font-size: 48px;
  }

  #landing .section-info ul {
    display: none;
  }
}

/* End Landing Page Styles */

/* About Page 1 Styles */

#about1 .section-container h1 {
  font-weight: 900;
  font-size: 96px;
  line-height: 112px;
}

/* End About Page 1 Styles */

/* About Page 2 Styles */

#about2 .section-container h1 {
  font-weight: 900;
  font-size: 120px;
  line-height: 141px;
}

#about2 .section-container h2 {
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
}

/* End About Page 2 Styles */

/* Work Page Styles */

#work .section-container h1 {
  font-weight: 900;
  font-size: 96px;
  line-height: 112px;
}

#work .section-container .section-info .work-grid {
  margin-top: 50px;
}

#work .section-container .section-info .work-grid img {
  margin-right: 4%;
  margin-bottom: 30px;
  width: 16.16%;
}

#work .section-container .section-info .work-grid img:nth-child(5n) {
  margin-right: 0;
}

/* End Work Page Styles */

/* Clients Page Styles */

#clients .section-container h1 {
  font-weight: 900;
  font-size: 96px;
  line-height: 112px;
}

#clients .section-container .section-info .client-grid {
  margin-top: 50px;
}

#clients .section-container .section-info .client-grid img {
  margin-right: 4.2%;
  margin-bottom: 20px;
  width: 21.5%;
}

#clients .section-container .section-info .client-grid img:nth-child(4n) {
  margin-right: 0;
}

/* End Clients Page Styles */

/* Services Page Styles */

#services .section-container h1 {
  font-weight: 900;
  font-size: 96px;
  line-height: 112px;
}

#services .section-container .section-info .service-grid {
  display: flex;
  margin-top: 100px;
}

#services .section-container .section-info .service-grid .service {
  width: 26.9%;
}

#services .section-container .section-info .service-grid .service:nth-child(3n + 2) {
  margin: 0 auto;
}

#services .section-container .section-info .service-grid .service h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #999999;
  padding-bottom: 15px;
  border-bottom: 2px solid #555555;
  margin-bottom: 30px;
}

#services .section-container .section-info .service-grid .service p {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #555555;
}

/* End Services Page Styles */

/* Contact Page Styles */

#contact .section-container h1 {
  font-weight: 900;
  font-size: 96px;
  line-height: 112px;
}

#contact .section-container .section-info form {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

#contact .section-container .section-info form input,
#contact .section-container .section-info form textarea {
  background: none;
  border: none;
  border-bottom: 2px solid #555555;
  margin-bottom: 25px;
  color: white;
  transition: all 0.2s linear;
}

#contact .section-container .section-info form input:focus,
#contact .section-container .section-info form textarea:focus {
  border-color: white;
  outline: none;
}

#contact .section-container .section-info form textarea {
  height: 100px;
  resize: none;
}

::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #888888;
}

#contact .section-container .section-info form button {
  width: fit-content;
  background: #191919;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 12px 23px;
  color: white;
  border: none;
}

/* End Contact Page Styles */